#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <13 14>;
        };

        del {
            bindings = <&kp DEL>;
            key-positions = <22 21>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <48 49>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <47 49>;
        };

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <47 48>;
        };
    };

    behaviors {
        new_ht: new_ht {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_HT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&trans  &trans                &trans              &trans                  &trans           &trans                                      &trans       &trans           &trans                  &trans              &trans                &trans
&trans  &kp Q                 &kp L               &kp U                   &kp PERIOD       &kp MINUS                                   &kp F        &kp R            &kp Y                   &kp W               &kp P                 &trans
&trans  &kp E                 &new_ht LEFT_ALT I  &new_ht LEFT_CONTROL A  &new_ht RSHFT O  &kp COMMA    &trans          &trans         &kp K        &new_ht RSHFT T  &new_ht LEFT_CONTROL N  &new_ht LEFT_ALT S  &kp H                 &trans
&trans  &new_ht LEFT_SHIFT J  &kp X               &kp C                   &kp V            &kp SLASH    &msc SCRL_DOWN  &msc SCRL_UP   &kp G        &kp D            &kp M                   &kp Z               &mt RIGHT_SHIFT FSLH  &trans
&trans  &kp LCTRL             &kp LEFT_ALT        &kp LEFT_GUI            &lt 1 TAB        &lt 2 SPACE  &mkp LCLK       &kp BACKSPACE  &lt 3 ENTER  &trans           &trans                  &trans              &trans                &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans            &trans         &trans            &trans      &trans                               &trans            &trans             &trans             &trans         &trans    &trans
&trans  &kp LS(NUMBER_1)  &kp LS(SLASH)  &kp LS(NUMBER_3)  &kp LS(N5)  &kp LS(NUMBER_6)                     &kp LS(N7)        &kp LS(N8)         &kp LS(N9)         &trans         &kp PLUS  &trans
&trans  &kp LEFT_BRACKET  &kp DOLLAR     &trans            &trans      &trans            &trans  &trans     &kp LS(NUMBER_2)  &kp RIGHT_BRACKET  &kp RIGHT_BRACKET  &kp SEMICOLON  &kp SQT   &trans
&trans  &trans            &trans         &trans            &trans      &trans            &trans  &trans     &trans            &trans             &trans             &trans         &trans    &trans
&trans  &trans            &trans         &trans            &trans      &trans            &trans  &kp LANG1  &kp LANG2         &trans             &trans             &trans         &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                    &trans                 &trans        &trans        &trans        &trans         &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10                                   &kp LS(N7)             &kp N7        &kp N8        &kp N9        &kp LS(EQUAL)  &trans
&trans  &trans  &trans  &kp F5  &trans  &kp F11  &trans          &trans           &kp LS(DOUBLE_QUOTES)  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans         &trans
&trans  &trans  &trans  &kp F2  &trans  &kp F12  &msc SCRL_LEFT  &msc SCRL_RIGHT  &kp SLASH              &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COLON      &trans
&trans  &trans  &trans  &trans  &trans  &trans   &trans          &trans           &kp N0                 &trans        &trans        &trans        &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans            &trans         &trans            &trans      &trans                                    &trans          &trans    &trans        &trans     &trans  &trans
&trans  &kp LS(NUMBER_1)  &kp LS(SLASH)  &kp LS(NUMBER_3)  &kp LS(N5)  &kp LS(NUMBER_6)                          &trans          &kp HOME  &kp UP_ARROW  &kp END    &trans  &trans
&trans  &kp LEFT_BRACKET  &kp DOLLAR     &trans            &trans      &trans            &trans  &trans          &trans          &kp LEFT  &kp DOWN      &kp RIGHT  &trans  &trans
&trans  &trans            &trans         &trans            &trans      &trans            &trans  &trans          &trans          &trans    &trans        &trans     &trans  &trans
&trans  &trans            &trans         &trans            &trans      &trans            &trans  &kp LANGUAGE_1  &kp LANGUAGE_2  &trans    &trans        &trans     &trans  &trans
            >;
        };
    };
};
