#include <input/processors/sensor_rotation.dtsi>

&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
    input-processors = <
        &zip_xy_transform (INPUT_TRANSFORM_X_INVERT)
        &zip_sensor_rotation (-24)
            >;
};
